body 
{
    background-color: slategray;
    text-align: center;
}

p
{
    color: black;
    font: Cursive;
    font-size: 1.5em
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}