<!DOCTYPE html>
  <head>
    <meta charset ="UTF-8">
    <title>Waterfall Model</title>
    <link rel = "stylesheet" href="{{
        url_for('static',filename='css/main2.css')
    }}">
  </head>
  <body>
    <section id="example">
      <h1>Examples of Waterfall Model</h1>
      <p1>In the olden days, Waterfall model was used to develop enterprise applications like,</p1>
      <br>
      <p2>Customer Relationship Management,
        Human Resource Management Systems,
        Supply Chain Management Systems and so on..
      </p2>
    </section>
  </main>
</body>
</html>